<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
    <head>
        <title>Employee registration</title>
    </head>
    <div layout:fragment="content">
        <body>
            <form method="post">

                <h1>Register Employee</h1>
                <div>
                    <label for="name">Name:</label>
                    <input id="name" name="name" required>
                </div>

                <div>
                    <label for="position">Position:</label>
                    <input id="position" name="position" required>
                </div>

                <div>
                    <label for="hire_date">Hire Date:</label>
                    <input type="date" id="hire_date" name="hire_date" required>
                </div>

                <div>
                    <label for="salary">Salary:</label>
                    <input type="salary" id="salary" name="salary" required>
                </div>

                <input type="submit" onclick="alert('Registered Data!')" value="Submit">
            </form>
        </body>
    </div>
</html>