<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Employee registration</title>
    </head>
    <body>
        <form method="post">
            <label for="name">Name:</label>
            <input id="name" name="name" required>

            <br/>

            <label for="position">Position:</label>
            <input id="position" name="position" required>

            <br/>

            <label for="hire_date">Hire Date:</label>
            <input type="date" id="hire_date" name="hire_date" required>

            <br/>

            <label for="salary">Salary:</label>
            <input type="salary" id="salary" name="salary" required>

            <br/>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>