<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

    </head>
    <body>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/form">Register Employees</a></li>
            <li><a href="/show-employees">Show Emplyees</a>



        </ul>
    </nav>
        <div layout:fragment="content">
        </div>
    </body>
</html>